.page-content__about-school {

  margin-bottom: 60px;

}
.main-gallery__list-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .main-gallery__list-link {
    margin: 5px 5px;
  }

}

.video-gallery {
  margin-bottom: 60px;
}
.main-gallery  {
  margin-bottom: 60px;
}



