DirectoryIndex /frontend/web/index.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f

RewriteRule ^(.+) $1 [L]

RewriteCond %{DOCUMENT_ROOT}/frontend/web%{REQUEST_URI} -f

RewriteRule ^(.+) /frontend/web/$1 [L]
